body{
    background-color: black;
    font-family: "Courier";
}

.inicial{
    font-size: 25px;
    margin: 50px 0 0 0px;
    color: white;
    justify-content: center;
    text-align: center;
}

.nome{
    color: #8C52FF; 
}

.final-digitacao{
    animation: blink 1s infinite;    
}

.divisao1{
    margin-top: 50px;
    background-color: #8C52FF;
    height: 8px;
}

.exibicao-sobre{
    margin: 0 50px 50px 50px;
    width: auto;
}

.titulo-setor-sobre{
    color: white;
    text-align: center;
}

.cor-borda-sobre-mim{
    border-color: #8C52FF;
}

.titulo-setor-projeto{
    margin-top: 20px;
    color: white;
    text-align: center;
}

.exibicao-projetos{
    margin-top: 20px;
    background-color: #8C52FF;
    margin-bottom: 80px;
    padding: 50px;
}

.titulo-projetos{
    color: #8C52FF;
}

.btn-visualizar-projeto{
    background-color: #8C52FF;
    color: white;
}

.btn-visualizar-projeto:hover{
    color: #8C52FF;
    transform: scale(1.2);
    transition: 10ms;
}

.projeto{
    margin-top: 10px;
}

.titulo-setor-linguagens{
    color: white;
    text-align: center;
}

.linguagens{
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.logo-linguagem{
    width: 100px;
    margin: 20px;
}

.logo-linguagem:hover{
    transform: scale(1.1);
    transition: 200ms;
}

.exibicao-meu-github{
    text-align: center;
}

.logo-github{
    width: 150px;
}

.caminho-meu-github{
    color: white;
}

.copyright{
    color: white;
    text-align: center;
}


@keyframes type{ 
    from { width: 0; } 
} 
  
@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
} 
  
@keyframes blink{
    to{opacity: .0;}
}